<table class="table--data">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td><img [src]="person.picture.medium" alt="Profile Picture"></td>
            <td>{{person.name.first}}</td>
            <td>{{person.name.last}}</td>
            <td>{{person.cell}}</td>
            <td>{{person.id.value}}</td>
        </tr>
    </tbody>
</table>