<section class="chat--list__wrapper">
  <article class="chat--search">
    <h1 class="h1--head">Messages</h1>
    <input class="chat--search__input" type="text" placeholder="Search People" [(ngModel)]="searchPeople" (input)="searchPeopleResults()">
  </article>
  <ul class="chat--list">
    <li class="chat--status-loading" *ngIf="isLoading"></li>
    <li class="chat--item" *ngFor="let person of people  | filter: searchPeople" (click)="logPersonDetails(person)">
      <div class="chat--item__left"><img [src]="person.picture.large" alt="Profile Picture"></div>
      <div class="chat--item__right">
        <h2>{{person.name.title}}. {{person.name.first}} {{person.name.last}}</h2>
        <p>{{person.cell}} | {{person.id.name}}: {{person.id.value}}</p>
      </div>
    </li>
    <li class="chat--status-text" *ngIf="showNoResults">No Result found</li>
  </ul>
</section>