<div class="searchbar">
  <input class="chat--search" type="text" placeholder="Search People" [(ngModel)]="searchPeople" (input)="searchPeopleResults()">
</div>

<ul class="user-list">
  <li *ngIf="isLoading" class="chat--status-text loading">Loading people</li>
  <li class="user-list__item" *ngFor="let person of people  | filter: searchPeople">
    <div class="user-list__avtar">
      <img [src]="person.picture.medium" alt="Profile Picture">
    </div>
    <div class="user-list__details">
      <h2>{{person.name.title}}. {{person.name.first}} {{person.name.last}}</h2>
      <span>{{ person.cell }}</span>
    </div>
  </li>
  <li *ngIf="showNoResults" class="chat--status-text">No Result found</li>
</ul>


<!-- <div *ngIf="people.length === 0 && searchPeople.length > 0">
  No data found.
</div> -->