<h1>{{title}}</h1>
<a href="javascript:void()" routerLink="">Back to Dashboard</a>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="form-field"> 
        <label for="username">Email address</label>
        <div class="input-text-field">
            <input class="input-field" type="text" placeholder="Enter Name" formControlName="name">
        </div>
    </div>
    <div class="form-field"> 
        <label for="username">Email address</label>
        <div class="input-text-field">
            <input class="input-field" type="text" placeholder="Enter Email" formControlName="email">
        </div>
    </div>
    <div><button>Login</button></div>
</form>
