<h1>{{title}}</h1>
<a href="javascript:void()" routerLink="">Back to Dashboard</a>
<form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)>
    <div class="form-field"> 
        <label for="username">Email address</label>
        <div class="input-text-field">
            <input class="input-field" type="text" placeholder="Enter Name" name="name" ngModel>
        </div>
    </div>
    <div class="form-field"> 
        <label for="username">Email address</label>
        <div class="input-text-field">
            <input class="input-field" type="text" placeholder="Enter Email" name="email" ngModel>
        </div>
    </div>
    <div>
        <button>Login</button>
    </div>
</form>