<p>dashboard works!</p>
<ul class="list">
    <li><a href="javascript:void(0)" routerLink="driven">Template Driven From</a></li>
    <li><a href="javascript:void(0)" routerLink="reactive">Reactive Form</a></li>
    <li><a href="javascript:void(0)" routerLink="login">Login</a></li>
    <li><a href="javascript:void(0)" routerLink="demo">Demo</a></li>
    <li><a href="javascript:void(0)" routerLink="search">Search Bar</a></li>
    <li><a href="javascript:void(0)" routerLink="table">Table Data</a></li>
    <li><a href="javascript:void(0)" routerLink="usercard">User Card</a></li>
</ul>